<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ouvrirdeveloper.beetroot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ouvrirdeveloper.beetroot.android_project_app.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeetRoot">
        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data
                android:name="com.ouvrirdeveloper.beetroot.android_project_app.application.initializers.KoinInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".android_project_app.features.splash.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android_project_app.features.splash.LandingPageActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".android_project_app.features.sign_in.SignInActivity"
            android:screenOrientation="fullSensor" />


    </application>

</manifest>